<connectionStrings>
   <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-93884857-5de9-4702-8268-b770a40cd580;AttachDbFilename=|DataDirectory|\aspnet-Website-93884857-5de9-4702-8268-b770a40cd580.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <add name="chinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
                         providerName="System.Data.SqlClient"/>
</connectionStrings>